In [44]:
import pandas as pd
pd.options.display.float_format = '{:.5f}'.format

In [203]:
df17_1 = pd.read_csv('./csv/17_01.csv', encoding='CP949')
df17_2 = pd.read_csv('./csv/17_02.csv', encoding='CP949')
df17_3 = pd.read_csv('./csv/17_03.csv', encoding='CP949')
df17_4 = pd.read_csv('./csv/17_04.csv', encoding='CP949')
df17_5 = pd.read_csv('./csv/17_05.csv', encoding='CP949')
df17_6 = pd.read_csv('./csv/17_06.csv', encoding='CP949')
df17_7 = pd.read_csv('./csv/17_07.csv', encoding='CP949')
df17_8 = pd.read_csv('./csv/17_08.csv', encoding='CP949')
df17_9 = pd.read_csv('./csv/17_09.csv', encoding='CP949')
df17_10 = pd.read_csv('./csv/17_10.csv', encoding='CP949')
df17_11 = pd.read_csv('./csv/17_11.csv', encoding='CP949')
df17_12 = pd.read_csv('./csv/17_12.csv', encoding='CP949')

In [204]:
df18_1 = pd.read_csv('./csv/18_01.csv', encoding='CP949')
df18_2 = pd.read_csv('./csv/18_02.csv', encoding='CP949')
df18_3 = pd.read_csv('./csv/18_03.csv', encoding='CP949')
df18_4 = pd.read_csv('./csv/18_04.csv', encoding='CP949')
df18_5 = pd.read_csv('./csv/18_05.csv', encoding='CP949')
df18_6 = pd.read_csv('./csv/18_06.csv', encoding='CP949')
df18_7 = pd.read_csv('./csv/18_07.csv', encoding='CP949')
df18_8 = pd.read_csv('./csv/18_08.csv', encoding='CP949')
df18_9 = pd.read_csv('./csv/18_09.csv', encoding='CP949')
df18_10 = pd.read_csv('./csv/18_10.csv', encoding='CP949')
df18_11 = pd.read_csv('./csv/18_11.csv', encoding='CP949')
df18_12 = pd.read_csv('./csv/18_12.csv', encoding='CP949')

In [205]:
df19_1 = pd.read_csv('./csv/19_01.csv', encoding='CP949')
df19_2 = pd.read_csv('./csv/19_02.csv', encoding='CP949')
df19_3 = pd.read_csv('./csv/19_03.csv', encoding='CP949')
df19_4 = pd.read_csv('./csv/19_04.csv', encoding='CP949')
df19_5 = pd.read_csv('./csv/19_05.csv', encoding='CP949')
df19_6 = pd.read_csv('./csv/19_06.csv', encoding='CP949')
df19_7 = pd.read_csv('./csv/19_07.csv', encoding='CP949')
df19_8 = pd.read_csv('./csv/19_08.csv', encoding='CP949')
df19_9 = pd.read_csv('./csv/19_09.csv', encoding='CP949')
df19_10 = pd.read_csv('./csv/19_10.csv', encoding='CP949')
df19_11 = pd.read_csv('./csv/19_11.csv', encoding='CP949')
df19_12 = pd.read_csv('./csv/19_12.csv', encoding='CP949')

In [206]:
df20_1 = pd.read_csv('./csv/20_01.csv', encoding='CP949')
df20_2 = pd.read_csv('./csv/20_02.csv', encoding='CP949')
df20_3 = pd.read_csv('./csv/20_03.csv', encoding='CP949')
df20_4 = pd.read_csv('./csv/20_04.csv', encoding='CP949')
df20_5 = pd.read_csv('./csv/20_05.csv', encoding='CP949')
df20_6 = pd.read_csv('./csv/20_06.csv', encoding='CP949')
df20_7 = pd.read_csv('./csv/20_07.csv', encoding='CP949')
df20_8 = pd.read_csv('./csv/20_08.csv', encoding='CP949')
df20_9 = pd.read_csv('./csv/20_09.csv', encoding='CP949')
df20_10 = pd.read_csv('./csv/20_10.csv', encoding='CP949')
df20_11 = pd.read_csv('./csv/20_11.csv', encoding='CP949')
df20_12 = pd.read_csv('./csv/20_12.csv', encoding='CP949')

In [207]:
df21_1 = pd.read_csv('./csv/21_01.csv', encoding='CP949')
df21_2 = pd.read_csv('./csv/21_02.csv', encoding='CP949')
df21_3 = pd.read_csv('./csv/21_03.csv', encoding='CP949')
df21_4 = pd.read_csv('./csv/21_04.csv', encoding='CP949')
df21_5 = pd.read_csv('./csv/21_05.csv', encoding='CP949')
df21_6 = pd.read_csv('./csv/21_06.csv', encoding='CP949')
df21_7 = pd.read_csv('./csv/21_07.csv', encoding='CP949')
df21_8 = pd.read_csv('./csv/21_08.csv', encoding='CP949')
df21_9 = pd.read_csv('./csv/21_09.csv', encoding='CP949')
df21_10 = pd.read_csv('./csv/21_10.csv', encoding='CP949')
df21_11 = pd.read_csv('./csv/21_11.csv', encoding='CP949')
df21_12 = pd.read_csv('./csv/21_12.csv', encoding='CP949')

In [208]:
df17_1['years']='2017'
df17_2['years']='2017'
df17_3['years']='2017'
df17_4['years']='2017'
df17_5['years']='2017'
df17_6['years']='2017'
df17_7['years']='2017'
df17_8['years']='2017'
df17_9['years']='2017'
df17_10['years']='2017'
df17_11['years']='2017'
df17_12['years']='2017'
df18_1['years']='2018'
df18_2['years']='2018'
df18_3['years']='2018'
df18_4['years']='2018'
df18_5['years']='2018'
df18_6['years']='2018'
df18_7['years']='2018'
df18_8['years']='2018'
df18_9['years']='2018'
df18_10['years']='2018'
df18_11['years']='2018'
df18_12['years']='2018'
df19_1['years']='2019'
df19_2['years']='2019'
df19_3['years']='2019'
df19_4['years']='2019'
df19_5['years']='2019'
df19_6['years']='2019'
df19_7['years']='2019'
df19_8['years']='2019'
df19_9['years']='2019'
df19_10['years']='2019'
df19_11['years']='2019'
df19_12['years']='2019'
df20_1['years']='2020'
df20_2['years']='2020'
df20_3['years']='2020'
df20_4['years']='2020'
df20_5['years']='2020'
df20_6['years']='2020'
df20_7['years']='2020'
df20_8['years']='2020'
df20_9['years']='2020'
df20_10['years']='2020'
df20_11['years']='2020'
df20_12['years']='2020'
df21_1['years']='2021'
df21_2['years']='2021'
df21_3['years']='2021'
df21_4['years']='2021'
df21_5['years']='2021'
df21_6['years']='2021'
df21_7['years']='2021'
df21_8['years']='2021'
df21_9['years']='2021'
df21_10['years']='2021'
df21_11['years']='2021'
df21_12['years']='2021'

In [209]:
df17_1['month']='01'
df17_2['month']='02'
df17_3['month']='03'
df17_4['month']='04'
df17_5['month']='05'
df17_6['month']='06'
df17_7['month']='07'
df17_8['month']='08'
df17_9['month']='09'
df17_10['month']='10'
df17_11['month']='11'
df17_12['month']='12'
df18_1['month']='01'
df18_2['month']='02'
df18_3['month']='03'
df18_4['month']='04'
df18_5['month']='05'
df18_6['month']='06'
df18_7['month']='07'
df18_8['month']='08'
df18_9['month']='09'
df18_10['month']='10'
df18_11['month']='11'
df18_12['month']='12'
df19_1['month']='01'
df19_2['month']='02'
df19_3['month']='03'
df19_4['month']='04'
df19_5['month']='05'
df19_6['month']='06'
df19_7['month']='07'
df19_8['month']='08'
df19_9['month']='09'
df19_10['month']='10'
df19_11['month']='11'
df19_12['month']='12'
df20_1['month']='01'
df20_2['month']='02'
df20_3['month']='03'
df20_4['month']='04'
df20_5['month']='05'
df20_6['month']='06'
df20_7['month']='07'
df20_8['month']='08'
df20_9['month']='09'
df20_10['month']='10'
df20_11['month']='11'
df20_12['month']='12'
df21_1['month']='01'
df21_2['month']='02'
df21_3['month']='03'
df21_4['month']='04'
df21_5['month']='05'
df21_6['month']='06'
df21_7['month']='07'
df21_8['month']='08'
df21_9['month']='09'
df21_10['month']='10'
df21_11['month']='11'
df21_12['month']='12'

In [210]:
df17_1['상장주식수대비거래량']=(df17_1['거래량']/df17_1['상장주식수'])*100

In [223]:
df17_1 = df17_1.sort_values('상장주식수대비거래량',ascending=True)

In [230]:
idx = df17_1[df17_1['시가']==0].index

In [231]:
df17_1 = df17_1.drop(idx)

In [238]:
import Tlqkf
import imp
imp.reload(Tlqkf)

In [233]:
df17_1.head(30)

,종목코드,종목명,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수,years,month,상장주식수대비거래량
736,099350,하나니켈2호,1380,0,0.00000,1380,1380,1380,1,1380,4531920000,3284000,2017,01,0.00003
738,172580,하이골드12호,2490,85,3.53000,2490,2490,2405,5,12365,32480805000,13044500,2017,01,0.00004
196,005257,녹십자홀딩스2우,21700,0,0.00000,21700,21700,21700,1,21700,18357983000,845990,2017,01,0.00012
298,001525,동양우,14000,0,0.00000,14000,14000,14000,1,14000,8648234000,617731,2017,01,0.00016
464,004365,세방우,7830,-30,-0.38000,7950,7950,7830,6,47580,28886827500,3689250,2017,01,0.00016
735,099340,하나니켈1호,1365,-5,-0.36000,1380,1380,1360,45,61550,31062213000,22756200,2017,01,0.00020
364,155900,바다로19호,2830,5,0.18000,2830,2830,2830,49,138670,43016011320,15200004,2017,01,0.00032
739,153360,하이골드3호,1940,50,2.65000,1915,1940,1915,60,115070,31330592600,16149790,2017,01,0.00037
740,159650,하이골드8호,1355,-25,-1.81000,1400,1400,1340,81,112970,20197533795,14905929,2017,01,0.00054
420,000075,삼양홀딩스우,57000,-100,-0.18000,57000,57000,57000,2,114000,17331306000,304058,2017,01,0.00066
757,002005,한국유리우,21200,200,0.95000,21000,21200,21000,3,63200,9641060400,454767,2017,01,0.00066
756,002000,한국유리,26900,-100,-0.37000,27000,27000,26900,70,1889250,271142854000,10079660,2017,01,0.00069
148,037710,광주신세계,242000,500,0.21000,242500,242500,241500,18,4354000,387200000000,1600000,2017,01,0.00113
444,017390,서울가스,80200,100,0.12000,80100,80200,79500,125,9996100,401000000000,5000000,2017,01,0.00250
343,138040,메리츠금융지주,10950,0,0.00000,10950,10950,10850,4212,45948800,1564599707100,142885818,2017,01,0.00295
278,083360,동북아11호,4495,0,0.00000,4420,4495,4420,50,221465,7127541700,1585660,2017,01,0.00315
261,008000,도레이케미칼,19350,-50,-0.26000,19300,19350,19250,1617,31207100,897140516850,46363851,2017,01,0.00349
594,000105,유한양행우,158000,500,0.32000,158000,158000,158000,9,1422000,37317704000,236188,2017,01,0.00381
724,016800,퍼시스,32250,-150,-0.46000,32400,32650,32000,456,14778300,370875000000,11500000,2017,01,0.00397
265,023450,동남합성,60000,0,0.00000,60000,60000,60000,68,4080000,90604440000,1510074,2017,01,0.00450
5,001460,BYC,378500,-1500,-0.39000,380500,380500,378500,32,12151500,236416777500,624615,2017,01,0.00512
644,000480,조선내화,86300,-400,-0.46000,86700,86700,85700,213,18299800,345200000000,4000000,2017,01,0.00532
469,058650,세아홀딩스,129000,-500,-0.39000,129500,129500,127000,215,27465000,516000000000,4000000,2017,01,0.00537
209,008110,대동전자,4545,-95,-2.05000,4550,4635,4545,565,2572720,47679081615,10490447,2017,01,0.00539
48,083420,KPX그린케미칼,4485,30,0.67000,4410,4520,4400,1110,4932450,89700000000,20000000,2017,01,0.00555
219,084695,대상홀딩스우,6980,0,0.00000,6970,6980,6970,51,355970,6376104360,913482,2017,01,0.00558
195,005255,녹십자홀딩스1우,24000,-500,-2.04000,24850,24850,23150,95,2251950,40052880000,1668870,2017,01,0.00569
522,002030,아세아,97700,500,0.51000,97200,98500,97200,127,12433700,214063044800,2191024,2017,01,0.00580
279,083370,동북아12호,4410,-125,-2.76000,4530,4530,4410,101,445530,6992760600,1585660,2017,01,0.00637
663,002780,진흥기업,1845,-20,-1.07000,1865,1865,1840,10781,19976515,281477238705,152562189,2017,01,0.00707

In [239]:
Tlqkf.Tlqkf(df17_2)

,종목코드,종목명,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수,years,month,상장주식수대비거래량
716,140890,트러스제7호,3360,0,0.00000,3360,3360,3360,2,6720,32544960000,9686000,2017,02,0.00002
464,004365,세방우,7930,100,1.28000,7930,7930,7930,1,7930,29255752500,3689250,2017,02,0.00003
525,083570,아시아10호,4815,20,0.42000,4815,4815,4815,1,4815,12557062575,2607905,2017,02,0.00004
280,083380,동북아13호,4825,35,0.73000,4825,4825,4825,1,4825,7650809500,1585660,2017,02,0.00006
279,083370,동북아12호,4995,325,6.96000,4995,4995,4995,4,19980,7920371700,1585660,2017,02,0.00025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,093230,이아이디,500,-92,-15.54000,499,508,497,17494696,8773579882,36345087000,72690174,2017,02,24.06748
817,117930,한진해운,100,-39,-28.06000,151,154,100,61246423,7352739102,24526994700,245269947,2017,02,24.97103
539,007630,암니스,4045,45,1.13000,3980,4815,3805,5287641,22521384220,68688561635,16981103,2017,02,31.13838
470,013000,세우글로벌,3155,95,3.10000,3075,3260,3025,16607506,52148305595,74744174275,23690705,2017,02,70.10136
516,008700,아남전자,1535,125,8.87000,1420,1765,1415,77995094,126915079920,118386598700,77124820,2017,02,101.12840

In [240]:
Tlqkf.Tlqkf(df17_3)

,종목코드,종목명,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수,years,month,상장주식수대비거래량
597,003465,유화증권우,14500,150,1.05000,14500,14500,14500,1,14500,50681632500,3495285,2017,03,0.00003
529,083600,아시아13호,4810,5,0.10000,4810,4810,4810,1,4810,12544023050,2607905,2017,03,0.00004
757,002000,한국유리,27150,150,0.56000,27150,27200,26950,33,895050,273662769000,10079660,2017,03,0.00033
195,005255,녹십자홀딩스1우,24500,1000,4.26000,24500,24500,24500,10,245000,40887315000,1668870,2017,03,0.00060
361,002840,미원상사,238000,-1000,-0.42000,227500,238000,227500,9,2088500,209679428000,881006,2017,03,0.00102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,009275,신원우,25650,450,1.79000,24600,28000,24200,29687,774018150,2327481000,90740,2017,03,32.71655
517,008700,아남전자,5500,1220,28.50000,4520,5500,4450,26932334,137077524885,424186510000,77124820,2017,03,34.92045
454,014915,성문전자우,8210,340,4.32000,7930,9180,7800,231046,1974840090,4926000000,600000,2017,03,38.50767
471,013000,세우글로벌,3825,115,3.10000,3835,4065,3000,9327250,36148685900,90616946625,23690705,2017,03,39.37093
713,001420,태원물산,8520,230,2.77000,8250,9460,8050,7678790,66438923430,64752000000,7600000,2017,03,101.03671

In [241]:
Tlqkf.Tlqkf(df17_4)

,종목코드,종목명,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수,years,month,상장주식수대비거래량
524,083600,아시아13호,4850,5,0.10000,4880,4880,4850,6,29160,12648339250,2607905,2017,04,0.00023
608,000760,이화산업,18900,-100,-0.53000,18950,18950,18750,37,695000,52920000000,2800000,2017,04,0.00132
184,002355,넥센타이어1우B,5900,50,0.85000,5830,5900,5830,133,776360,38350000000,6500000,2017,04,0.00205
182,005725,넥센우,6040,160,2.72000,6180,6180,5820,113,669770,21747624000,3600600,2017,04,0.00314
594,003460,유화증권,15150,-50,-0.33000,15200,15350,15000,406,6134350,171808317450,11340483,2017,04,0.00358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
696,26490K,크라운제과우,14450,-1050,-6.77000,15700,16600,14150,194979,2965725750,11177942000,773560,2017,04,25.20541
705,004100,태양금속,2485,-115,-4.42000,2730,2870,2480,11817851,31849689080,91199500000,36700000,2017,04,32.20123
697,005740,크라운해태홀딩스,31750,-3700,-10.44000,35350,39500,31050,4816745,169089496450,308790975000,9725700,2017,04,49.52595
11,011155,CJ씨푸드1우,32350,1100,3.52000,32100,34950,30600,147980,4825217000,6470000000,200000,2017,04,73.99000
698,005745,크라운해태홀딩스우,24450,-2850,-10.44000,29000,33400,24450,1546100,45340594550,14687750700,600726,2017,04,257.37191